@{
    ViewData["Title"] = "МИДИ-футбольная лига города Красногорск";
}

<div class="jumbotron bg-info text-white text-center">
    <h1 class="display-4">Добро пожаловать на сайт МИДИ-футбольной лиги города Красногорск</</h1>
    <hr class="my-4">
    <div>
        <h5 class="text-center ">Коротко о проекте</h5>
        <p class="text-center">Любой желающий может принять участие в турнире, если сезон ещё не стартовал.</p>
    </div>
</div>


