@{
    ViewData["Title"] = "Контакты";
}
<h1 class="text-center p-3 bg-info text-white">Контакты</h1>


<div class="bg-info p-4">
    <div class="row text-center">
        <div class="col my-auto p-3">
            <a href="https://vk.com/mflk_2020" target="_blank">
                <img src="https://cdn.worldvectorlogo.com/logos/vk-1.svg" height="75" />
            </a>
        </div>
        <div class="col-md-8 p-3">
            <div class="row">
                <div class="col">
                    <img src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo-whatsapp-512.png" height="75" />
                </div>
                <div class="col my-auto">
                    <p class="h6">8-(977)-594-86-41 (WhatsApp/Telegram)</p>
                </div>
                <div class="col">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Telegram_Messenger.png" height="75" />
                </div>
            </div>
        </div>
        <div class="col my-auto p-3">
            <a href="https://www.youtube.com/channel/UCvG3z3OOkp9qMwup67_oZSw?view_as=subscriber" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/1200px-YouTube_full-color_icon_%282017%29.svg.png" height="75" />
            </a>
        </div>
    </div>
</div>
